/* WhatsApp Blur Extension */
/* Created by Sorabh Srivastava */
/* This code is provided under the MIT License and can be freely used by others. */

/* Apply blur effect to parent elements */

 /*Remove selector ._13jwn if u want profile picture visible */
._8nE1Y, ._13jwn {
  filter: blur(5px); /* Adjust blur strength as needed */
}

/* Remove blur on hover for parent elements */
._8nE1Y:hover, ._13jwn:hover {
  filter: none;
}

/* Apply blur effect to received and sent messages */
div.message-in, div.message-out {
  filter: blur(5px); /* Adjust blur strength as needed */
}

/* Remove blur on hover for messages */
div.message-in:hover, div.message-out:hover {
  filter: none;
}

/* Apply stronger blur effect to media elements (videos and images) */
div.media-thumb {
  filter: blur(20px); /* Increase blur strength for media */
}

/* Remove blur on hover for media elements */
div.media-thumb:hover {
  filter: none;
}
